body{
    background-image: url(https://i.pinimg.com/564x/23/34/18/23341898dcd3669f8e7910a77625b88d.jpg), url(https://i.pinimg.com/564x/cb/af/83/cbaf835dbc1ff7da45cedc5f910fa383.jpg);
    background-position: left center, right center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.tituloprincipal{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    
}

.contenedorprincipal{
    min-height: 700px;
    margin: auto;
    margin-top: 50px;
    border-radius: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.estiloCard{
    background-color: rgba(118, 118, 245, 0.596);
}

.tareasContenedor{
    max-height: 700px; 
    overflow-y: auto;
    
}

.boton-eliminar{
    cursor: pointer; 
}


